body {
    font-family: Arial;
    margin: 40px;
    background: #f7f7f7;
}

.box {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 450px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

.result {
    margin-top: 20px;
    padding: 12px;
    background: #eeeeee;
    border-radius: 5px;
}
